@model IEnumerable<SiUbs.WebApp.Models.Cliente>

@{
    ViewBag.Title = "Clientes";
}

<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("SearchByName", "Clientes", FormMethod.Get))
        {

            <div class="form-horizontal">
                <h2>Localizar Cliente</h2>
                <hr />
                <div class="row">
                    <div class="col-lg-12">
                        <h4>Digite o Nome do Cliente</h4>
                        <div class="input-group">
                            <input type="text" class="form-control" name="name" placeholder="(Caso não seja preenchido será listado TODOS os clientes cadastrados)" />
                            <span class="input-group-btn">
                                <input type="submit" value="Buscar..." class="btn btn-success" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-4">
        <h2>Como Inserir Aferição <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></h2>
        <p>Para inserir uma nova aferição busque o cliente pelo nome e em seguida adicione a aferição desejada utilizando os controles disponíveis ou cadastre um novo cliente por meio do botão abaixo.</p>
        @Html.ActionLink("Cadastrar Novo Cliente", "Create", null, new { @class = "btn btn-primary" })
    </div>
</div>

<br />

<div class="row">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDeNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Nome, "Details", new { id = item.Id })
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataDeNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td>
                    @Html.ActionLink("Glicemia", "ByCliente", "AfericoesGlicemia", new { id = item.Id },  new { @class = "btn btn-success" })
                    @Html.ActionLink("Pressão Arterial", "ByCliente", "AfericoesPressaoArterial", new { id = item.Id }, new { @class = "btn btn-success" })
                </td>
            </tr>
        }

    </table>
</div>