@model SiUbs.WebApp.Models.AfericaoGlicemia

@{
    ViewBag.Title = "Remover Aferição";
}

<h2>@ViewBag.Title</h2>

<h3>Tem certeza que deseja remover este registro?</h3>
<div>
    <h4>Afericao de Glicemia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataHoraAfericao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataHoraAfericao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jejum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jejum)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-danger" />
        </div>
    }
    @Html.ActionLink("Voltar", "ByCliente", new { id = Model.ClienteId })
</div>
